//- Название сайта и описание
- var pageTitle    = "Bootstrap"
- var pageDesc     = "Сайт сверстан на Bootstrap"

//- Meta
    //- compatible может содержать значения false, "edge"
- var compatible   = "edge"
    //- viewport может иметь значения false, "adaptive", "not adaptive", "scalable" (масштабируемый)
- var viewport     = "adaptive"

//- Подлючение скриптов, стилей, шрифта
- var bootstrap    = true
- var fontAwesome  = false
- var googleFonts  = false

